* {
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  font-family: 'Anton', sans-serif;
}

.navbar-nav li a:hover {
  color: #FFFF0D;
}

.carousel-item {
  height:100vh;
  min-height: 300px;

}


.carousel-caption {
  bottom: 220px;
}

.carousel-caption h5 {
  font-size: 45px;
  margin-top: 25px;
}

.carousel-caption p{
  margin: auto;
}



